body {
  height: 1120px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact-us {
  width: 720px;
  margin: 0 auto 300px auto;
}
h1,
.detail {
  text-align: start;
  margin: 0.5em auto;
}
label:last-of-type,
.detail {
  color: #475467;
}
.detail {
  margin-bottom: 3rem;
}
h1 {
  margin-top: 3em;
  color: #101828;
}
form {
  width: 100%;
}
label {
  display: block;
  margin: 1rem 0 0.5rem 0;
  text-align: left;
  color: #344054;
}
input,
textarea {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  text-align: left;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  font-size: 18px;
}
input {
  height: 2.5em;
  padding: 10px 14px;
}
textarea {
  height: 10.5em;
  padding: 12px 14px;
  font-family: "Inter", sans-serif;
  margin-bottom: 15px;
}
.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.name input {
  width: 100%;
}
.message {
  margin-top: 1.5rem;
}
.inline {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: -5px 10px 0px 0;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  accent-color: #d0d5dd;
}
#btn__submit {
  width: 100%;
  padding: 20px 0;
  background: #1570ef;
  color: #fff;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .contact-us {
    width: 375px;
    margin-bottom: 100px;
  }
  input,
  textarea,
  .name input,
  #btn__submit {
    width: 343px;
  }
  .name {
    display: block;
  }
  label,
  #btn__submit {
    margin-top: 1.5rem;
  }
  #btn__submit {
    margin-left: -30px;
  }
}
